* {
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.container {
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 50px 0px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

ul li {
    font-family: Barlow;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.9230769276618958px;
    text-align: left;
    color: #83888F;
}

footer {
    width: 100%;
    background-color: #2C343E;
    margin-top: 200px;
    padding: 47px 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-area {
    display: flex;
    align-items: center;
    gap: 15px;
}

footer ul {
    display: flex;
    gap: 15px;
    align-items: center;
    list-style: none;
}

.footer-area ul li {
    font-family: Barlow;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.9230769276618958px;
    text-align: left;
    color: #83888F;
}

.social {
    display: flex;
    gap: 20px;
    align-items: center;
}

.coffe-area {
    background-image: url("/assets/images/subscribe/coffe-bg.svg");
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    padding-left: 85px;
    padding: 117px 85px;
    gap: 32px;
}

.coffe-area h1 {
    font-family: Fraunces 9pt;
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    color: #FEFCF7;
}

.coffe-area h6 {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FEFCF7;
    width: 400px;
}

.steps-area {
    width: 100%;
    background-color: #2C343E;
    height: 650px;
    padding: 0px 85px;
    display: flex;
    flex-direction: column;
}


.works-step {
    display: flex;
    margin: 100px 0px;
    position: relative;
    width: 770px;
}


.wokrs-step-area {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -12px;
    width: 100%;
}

.works-area {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 80px;
    margin-bottom: 64px;
}

.works-card {
    width: 285px;
    height: 355px;
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.works-card h1 {
    font-family: Fraunces 9pt;
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    text-align: left;
    color: #FDD6BA
}

.works-card h6 {
    color: #FEFCF7;
    font-family: Fraunces 9pt;
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    text-align: left;
}

.works-card p {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #FEFCF7
}

.faq-area {
    display: flex;
    width: 100%;
    gap: 125px;
    margin: 150px 0px;
    padding: 0px 85px;
}

.title {
    width: 255px;
    height: 356px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title-content {
    display: flex;
    border-bottom: 1px solid #83888F;
    align-items: center;
    padding-bottom: 10px;
    width: 240px;
    gap: 28px;
}

.title-content p {
    font-family: Fraunces 9pt;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    text-align: left;
    color: #83888F
}

.title-content:first-child>p {
    color: #0E8784;
}

.title-content:first-child>span {
    color: #2C343E;
}

.title-content span {
    font-family: Fraunces 9pt;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    text-align: left;
    color: #83888F
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 730px;
    font-family: Fraunces 9pt;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    text-align: left;
    color: #83888F;
    cursor: pointer;
}

summary::after {
    content: '';
    width: 18px;
    height: 10px;
    background: url("/assets/images/subscribe/arrow.svg") no-repeat 1px 50%;
    background-size: cover;
    margin-left: .75em;
    transition: 0.2s;
}

details[open]>summary::after {
    transform: rotate(180deg);
}

.summary-card-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.summary-card {
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: 228px;
    height: 250px;
    background-color: #F4F1EB;
    gap: 24px;
    margin-top: 56px;
    gap: 23px;
}

.summary-card h1 {
    font-family: Fraunces 9pt;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    text-align: left;
    color: #333D4B
}

.summary-card p {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #333D4B;
    width: 172px;
}

.order-area {
    background-color: #2C343E;
    width: 100%;
    padding: 47px 64px;
    margin-top: 100px;
    border-radius: 10px;
}

.order-area p {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #FFFFFF
}

.order-area h1 {
    font-family: Fraunces 9pt;
    font-size: 24px;
    font-weight: 900;
    line-height: 40px;
    text-align: left;
    color: white
}

.order-area span {
    color: #0E8784
}

.button-area {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.button-area button {
    width: 146px;
    height: 25px;
    top: 15px;
    left: 35.5px;
    gap: 0px;
    opacity: 0px;
    background-color: #E2DEDB;
    color: #FEFCF7;
    border: none;
    margin-top: 40px;
    width: 217px;
    height: 56px;
    border-radius: 10px;

}